/******************** ENDOMETRIOSIS DIAGNOSTIC MODEL ********************/ 

/* HEADING */
h1 {
  font-family: 'Prata', serif;
  font-size: 30px;
  font-weight: 400;
  margin-bottom: 10px;
  color: #F2D6CE;
  text-align: left;
}

a.title {
  text-decoration: none;
}

/* TOPNAV */
ul.topnav {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #0D0D0D;
  font-family: 'Trirong', serif;
  justify-content: left;
}

ul.topnav li a {
  display: block;
  color: #F2D6CE;
  padding: 1px 10px;
  text-decoration: none;
  font-family: 'Padyakke Expanded One', serif;
  font-weight: 400;
  font-size: 10px;
  margin-top: 0px;
}

ul.topnav li a:hover {
  background-color: #F2D6CE;
  color: #0D0D0D;
}
/* */


/* HEADER */
h2 {
  font-family: 'Prata', serif;
  font-size: 60px;
  font-weight: 400;
  color: #F2D6CE;
  text-align: left;
  width: 800px;
  margin: auto;
  justify-content: center;
}
/* */

/* SUBHEADER */
h3 {
  font-family: 'Padyakke Expanded One', serif;
  font-size: 30px;
  font-weight: 400;
  color: #F2D6CE;
  text-align: left;
  width: 800px;
  margin: 20px auto;
  justify-content: center;
}
/* */

/* TABLE OF CONTENTS */
nav.toc-box {
    position: fixed;
    top: 100px;
    left: 20px;
    width: 250px;
    max-height: 90vh;
    overflow-y: auto;
}

ul.toc {
    text-decoration: none;
    color: #F2D6CE;
}

a.toc-link {
    text-decoration: none;
    color: #F2D6CE;
}

a.toc-link:hover {
    background-color: #F2D6CE;
    color: #0D0D0D;
}


/* ABSTRACT PARAGRAPH */
p.abstract {
    text-align: left;
    justify-content: center;
    font-family: 'Newsreader', serif;
    font-size: 20px;
    font-weight: 300;
    color: #F2D6CE;
    width: 800px;
    line-height: 1.5;
    margin: auto;
}

p.keywords {
    text-align: left;
    justify-content: center;
    font-family: 'Newsreader', serif;
    font-size: 20px;
    font-weight: 300;
    color: #F2D6CE;
    width: 800px;
    line-height: 1.5;
    margin: auto;
    margin-top: 20px;
}
/* */

/* INTRODUCTION PARAGRAPH */
p.introduction {
    text-align: left;
    justify-content: center;
    font-family: 'Newsreader', serif;
    font-size: 20px;
    font-weight: 300;
    color: #F2D6CE;
    width: 800px;
    line-height: 1.5;
    margin: auto;
}

/* METHODOGY SECTION */
div.methodology {
    text-align: left;
    justify-content: center;
    font-family: 'Newsreader', serif;
    font-size: 20px;
    font-weight: 300;
    color: #F2D6CE;
    width: 800px;
    line-height: 1.5;
    margin: auto;
}

/* RESULTS SECTION */
div.results {
    text-align: left;
    justify-content: center;
    font-family: 'Newsreader', serif;
    font-size: 20px;
    font-weight: 300;
    color: #F2D6CE;
    width: 800px;
    line-height: 1.5;
    margin: auto;
}

/* CONCLUSION SECTION */
div.conclusion {
    text-align: left;
    justify-content: center;
    font-family: 'Newsreader', serif;
    font-size: 20px;
    font-weight: 300;
    color: #F2D6CE;
    width: 800px;
    line-height: 1.5;
    margin: auto;
}

code{
    justify-content: center;
    font-family: 'Courier New', monospace;
    font-size: 20px;
    font-weight: 300;
    color: #F2D6CE;
    width: 800px;
    line-height: 1.5;
    margin: auto;
}

div.references {
    text-align: left;
    justify-content: center;
    font-family: 'Newsreader', serif;
    font-size: 20px;
    font-weight: 300;
    color: #F2D6CE;
    width: 800px;
    line-height: 1.5;
    margin: auto;
}

    
/* TABLES */
table{
    width: 800px;
    margin: 20px auto;
    border-collapse: collapse;
}

table th,
table td {
    border: 1px solid #F2D6CE;
    padding: 10px;
    text-align: left;
}

/* FIGURES */
figure.figures {
    justify-content: center;
    margin: 20px auto;
}

/* DOWNLOAD LINK */
div.document {
    text-align: left;
    justify-content: center;
    font-family: 'Padyakke Expanded One', serif;
    font-size: 20px;
    font-weight: 300;
    color: #F2D6CE;
    width: 800px;
    margin: 20px auto;
}

a.document {
    text-align: left;
    justify-content: center;
    font-family: 'Padyakke Expanded One', serif;
    font-size: 20px;
    font-weight: 300;
    color: #F2D6CE;
    width: 800px;
    margin: 20px auto;
    text-decoration: none;
    background-color: #0D0D0D;
}
/* */

/* HOVER EFFECT FOR DOWNLOAD LINK */
a.document:hover {
    background-color: #F2D6CE;
    color: #0D0D0D;
}

